#container {
  width: 500px;
  height: 500px;
  border: 2px solid;
  display: grid;
  margin: 0 auto;
}

.grid {
  border: 1px solid;
}

.black {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  font-size: 4.5em;
}

#buttons-top,
#button-container {
  display: flex;
  justify-content: center;
}

#buttons-top {
  padding-bottom: 20px;
}

#button-container {
  padding-top: 20px;
}

button {
  font-family: inherit;
  font-size: 1em;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #272727;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: white;
  background-color: #727272;
  text-align: center;
  position: relative;
}

button:hover {
  border-color: #161616;
  cursor: pointer;
}

button:active {
  background-color: #999999;
}

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-attachment: fixed;
  font-family: "Arimo", sans-serif;
}
